/* @autor : Michel Buffa
Repris par Nicolas Meyer. */


table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid black;
}

td {
    padding: 5px;
}

tr {
    background-color: lightgreen;
}

input:invalid {
    background-color: #ffd699;
}

input:valid {
    background-color: lightGreen;
}

.bordureRouge {
    border: 2px dashed red;
}

#test
{
   background-color: #e6ffe6;
}